@charset "UTF-8";
/* Slider */
/* line 3, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 22, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 32, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-list:focus {
  outline: none;
}

/* line 36, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 42, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 52, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 60, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 67, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-track:after {
  clear: both;
}

/* line 71, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 76, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 84, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 88, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slide img {
  display: block;
}

/* line 92, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 96, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 100, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 104, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 108, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 116, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 121, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/slick.eot");
  src: url("/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/fonts/slick.woff") format("woff"), url("/fonts/slick.ttf") format("truetype"), url("/fonts/slick.svg#slick") format("svg");
}
/* Arrows */
/* line 137, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/* line 162, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

/* line 171, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

/* line 178, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

/* line 184, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 198, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev {
  left: -25px;
}

/* line 202, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

/* line 207, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-prev:before {
  content: '←';
}

/* line 211, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
[dir='rtl'] .slick-prev:before {
  content: '→';
}

/* line 216, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-next {
  right: -25px;
}

/* line 220, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* line 225, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-next:before {
  content: '→';
}

/* line 229, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
/* line 235, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 240, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 255, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

/* line 268, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

/* line 286, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 291, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 296, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 318, /Users/estebanfernandezgalione/Desktop/RoR/taller-mecanico/app/assets/stylesheets/slick-team-slider.css.scss */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
